---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '../components/Title.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto max-w-4xl">
		<Title />

		<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
			<l1>
				<a href="/clean-code">
					<img src="" alt="Clean code front page" />
				</a>
			</l1>
		</ul>

	</main>
</Layout>